<header class="bg-white w-full">
  <app-navbar></app-navbar>
</header>
<main>
  <!-- Banner -->
  <section class="banner-background object-cover h-[400px] w-full relative">
    <div class="absolute bottom-0 w-full">
      <img
        src="./assets/banner-home-swoosh.svg"
        class="w-full object-cover"
        alt=""
      />
    </div>
    <div
      class="lg:w-7/12 w-10/12 md:9/12 px-[5vw] h-full flex flex-col justify-center text-white gap-6"
    >
      <h1 class="font-bold lg:text-4xl tracking-wide text-3xl">
        Robust & Secure online payments solution for Africa
      </h1>
      <p>
        Pesepay helps businesses in Africa get paid by anyone, anywhere in the
        world
      </p>
      <div class="pt-2">
        <a
          routerLink="#"
          class="text-white bg-appleGreen px-6 py-3 rounded-md font-semibold hover:bg-darkViolet transition-all"
          >Create Free Account</a
        >
      </div>
    </div>
  </section>
  <!-- Banner ends -->
  <!-- INFO SECTION -->
  <section class="xl:mx-[5vw] ml-[5vw] mr-[2vw] relative my-20">
    <div class="flex gap-5 lg:items-center flex-col lg:flex-row">
      <div class="w-[100px] h-[100px]">
        <img
          src="./assets/secure-payment.svg"
          class="object-contain w-full h-full"
          alt=""
        />
      </div>
      <h2 class="font-bold text-darkViolet text-2xl">
        A safe and secure way to accept payments online
      </h2>
    </div>
    <p class="text-darkViolet py-5 lg:text-center">
      Give your customers a fast, secure and frictionless online payment system.
      Integrate Pesepay once and let your customers pay you however they want!
    </p>

    <div
      class="grid lg:grid-cols-3 grid-cols-1 md:grid-cols-2 text-darkViolet mb-10 gap-5 text-md"
    >
      <div class="flex gap-2 flex-col">
        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>No lock in contracts</p>
        </div>

        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>Automated payment process</p>
        </div>
        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>Flat rate transaction fees</p>
        </div>
      </div>
      <div class="flex gap-2 flex-col">
        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>No set up fees</p>
        </div>

        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>Fast Setup</p>
        </div>
        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>Take real-time payments</p>
        </div>
      </div>
      <div class="flex gap-2 flex-col">
        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>Trusted Security</p>
        </div>
        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>Easy E-Commerce integration</p>
        </div>
        <div class="flex gap-2 items-center">
          <div
            class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
          >
            <img src="./assets/check.svg" alt="" />
          </div>
          <p>Automated payment process</p>
        </div>
      </div>
    </div>
    <div class="pt-2">
      <a
        routerLink="#"
        class="text-white bg-appleGreen px-6 py-3 rounded-md font-semibold hover:bg-darkViolet transition-all"
        >Create Free Account</a
      >
    </div>
  </section>

  <!-- INFOR SECTION ENDS -->
  <section class="bg-darkViolet">
    <div class="xl:mx-[5vw] ml-[5vw] mr-[2vw] relative py-10">
      <h1 class="text-white text-2xl font-bold">Pesepay Solutions</h1>
      <p class="text-white py-2">
        Pesepay's combination of automated and manual fraud detection systems
        protect you from fraudulent transactions and associated chargeback
        claims.
      </p>

      <div class="grid grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-10">
        <div
          class="bg-appleGreen hover:bg-[#553f89] transition-all w-full h-[170px] rounded-md flex justify-center items-center flex-col my-2"
        >
          <div class="w-6/12 h-[100px]">
            <img
              src="./assets/screen.svg"
              alt=""
              class="w-full object-contain h-full text-white"
            />
          </div>
          <p class="text-white text-md">Online Payments</p>
        </div>

        <!-- card 2 -->
        <div
          class="bg-appleGreen hover:bg-[#553f89] transition-all w-full h-[170px] rounded-md flex justify-center items-center flex-col my-2"
        >
          <div class="w-6/12 h-[100px]">
            <img
              src="./assets/wallet.svg"
              alt=""
              class="w-full object-contain h-full text-white"
            />
          </div>
          <p class="text-white text-md">Recurring Payments</p>
        </div>

        <!-- card 3 -->
        <div
          class="bg-appleGreen hover:bg-[#553f89] transition-all w-full h-[170px] rounded-md flex justify-center items-center flex-col my-2"
        >
          <div class="w-6/12 h-[100px]">
            <img
              src="./assets/ibm--bluepay.svg"
              alt=""
              class="w-full object-contain h-full text-white"
            />
          </div>
          <p class="text-white text-md">Bill Payments</p>
        </div>

        <!-- card 4 -->
        <div
          class="bg-appleGreen hover:bg-[#553f89] transition-all w-full h-[170px] rounded-md flex justify-center items-center flex-col my-2"
        >
          <div class="w-6/12 h-[100px]">
            <img
              src="./assets/receipt.svg"
              alt=""
              class="w-full object-contain h-full text-white"
            />
          </div>
          <p class="text-white text-md">Invoicing</p>
        </div>
      </div>
      <div class="my-10">
        <a routerLink="#" class="text-white text-md">View Pricing</a>
        <div class="border-t-[1px] border-white w-[90px] mt-2"></div>
      </div>
    </div>
  </section>

  <!-- developer section -->

  <section class="xl:mx-[5vw] ml-[5vw] mr-[2vw] relative my-20">
    <div class="flex gap-5 lg:items-center flex-col lg:flex-row">
      <div class="w-[90px] h-[90px]">
        <img
          src="./assets/api.svg"
          class="object-contain w-full h-full"
          alt=""
        />
      </div>
      <h2 class="font-bold text-darkViolet text-2xl">
        Developers can create custom payment experiences
      </h2>
    </div>
    <p class="text-darkViolet py-5 lg:text-center text-[15px]">
      With well–documented APIs that allow developers to build anything, from
      simple weekend projects to complex financial applications serving hundreds
      of thousands of customers.
    </p>
    <div
      class="flex gap-10 items-end flex-col lg:flex-row justify-start items-start"
    >
      <div class="w-full h-[150px] lg:w-3/6">
        <img
          src="./assets/code.png"
          alt=""
          class="w-full h-full object-cover"
          srcset=""
        />
      </div>

      <div class="flex items-start justify-start flex-col w-full">
        <div
          class="flex gap-2 flex-col text-darkViolet justify-start items-start"
        >
          <div class="flex gap-4 justify-start items-start">
            <div
              class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
            >
              <img src="./assets/check.svg" alt="" />
            </div>
            <p>Make instant transfers</p>
          </div>
          <div class="flex gap-4 items-center">
            <div
              class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
            >
              <img src="./assets/check.svg" alt="" />
            </div>
            <p>Review all your transaction and customer data</p>
          </div>
          <div class="flex gap-4 items-center">
            <div
              class="bg-appleGreen w-[23px] h-[23px] rounded-full flex justify-center items-center p-1"
            >
              <img src="./assets/check.svg" alt="" />
            </div>
            <p>Automated payment process</p>
          </div>
        </div>
        <div class="mt-10">
          <a
            routerLink="#"
            class="text-white bg-appleGreen px-6 py-3 rounded-md font-semibold hover:bg-darkViolet transition-all"
            >View Documentation</a
          >
        </div>
      </div>
    </div>
    <div class="py-10">
      <h1 class="text-gray-400 text-4xl font-semibold">
        Convenient plugin support
      </h1>
      <div class="flex gap-5 mt-5 flex-col lg:flex-row">
        <div class="w-[250px]">
          <img src="./assets/opencart.svg" class="object-cover w-full" />
        </div>
        <div class="w-[250px]">
          <img src="./assets/wordpress.svg" class="object-cover w-full" />
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="bg-darkViolet pt-10">
  <div class="xl:mx-[5vw] ml-[5vw] mr-[2vw] relative">
    <div class="flex flex-col lg:flex-row justify-between">
      <div class="w-full lg:w-4/12">
        <div class="w-[170px]">
          <img
            src="./assets/pesepay-logo-white.svg"
            class="w-full object-cover"
            alt=""
          />
        </div>
        <div class="flex flex-col text-white font-semibold">
          <a routerLink="#">Company</a>
          <a routerLink="#">FAQs</a>
          <a routerLink="#">Contact Us</a>
        </div>
        <div class="mt-5 flex gap-4">
          <div
            class="bg-appleGreen rounded-full w-[35px] h-[35px] p-2 flex justify-center items-center"
          >
            <div class="w-[30px] h-[30px]">
              <img
                src="/assets/logo--facebook.svg"
                alt=""
                class="w-full h-full object-contain text-white"
              />
            </div>
          </div>
          <div
            class="bg-appleGreen rounded-full w-[35px] h-[35px] p-2 flex justify-center items-center"
          >
            <div class="w-[30px] h-[30px]">
              <img
                src="/assets/logo--twitter.svg"
                alt=""
                class="w-full h-full object-contain text-white"
              />
            </div>
          </div>
          <div
            class="bg-appleGreen rounded-full w-[35px] h-[35px] p-2 flex justify-center items-center"
          >
            <div class="w-[30px] h-[30px]">
              <img
                src="/assets/logo--linkedin.svg"
                alt=""
                class="w-full h-full object-contain text-white"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- nwew se -->
      <div
        class="text-white flex justify-between flex-1 flex-wrap py-10 lg:py-0 gap-10"
      >
        <div>
          <h1 class="text-white font-bold text-lg">Solutions</h1>
          <div class="flex flex-col gap-2">
            <a routerLink="#">Online Payments</a>
            <a routerLink="#">Recurring Payments</a>
            <a routerLink="#">Bill Payments</a>
            <a routerLink="#">Invoicing</a>
          </div>
        </div>
        <div>
          <h1 class="text-white font-bold text-lg">Legal</h1>
          <div class="flex flex-col gap-2">
            <a routerLink="#">Terms & Conditions</a>
            <a routerLink="#">Privacy & Security policy</a>
          </div>
        </div>
        <div>
          <h1 class="text-white font-bold text-lg">Merchants</h1>
          <div class="flex flex-col gap-2">
            <a routerLink="#">Merchant Account</a>
            <a routerLink="#">Merchant Dashboard</a>
            <a routerLink="#">Pricing</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#553f89] w-full py-4 lg:mt-5">
    <p class="font-semibold text-white text-md text-center">
      © 2023 • Pesepay • All rights reserved
    </p>
  </div>
</footer>
